Checks:
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  modernize-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-use-trailing-return-type,
HeaderFilterRegex: cxx\.h
