/.buckconfig.d/
/.buckconfig.local
/.buckd
/bazel-bin
/bazel-cxx
/bazel-out
/bazel-testlogs
/user.bazelrc
/buck-out
/expand.cc
/expand.rs
/target/
/Cargo.lock
/tests/shared_library/library/target/
/tests/shared_library/library/Cargo.lock
