language: rust

rust:
  - nightly
  - beta
  - stable

script:
  - cargo run --manifest-path demo-rs/Cargo.toml
  - cargo test

matrix:
  include:
    - name: macOS
      os: macos
      rust: nightly

    - name: Windows (gnu)
      os: windows
      rust: nightly-x86_64-pc-windows-gnu
      before_script:
        # windows is bad at symlinks
        - rm gen/build/src/gen gen/build/src/syntax gen/cmd/src/gen gen/cmd/src/syntax gen/src/include macro/src/syntax
        - cp -r include gen/src; cp -r gen/src gen/build/src/gen; cp -r gen/src gen/cmd/src/gen; cp -r syntax gen/build/src; cp -r syntax gen/cmd/src; cp -r syntax macro/src

    - name: Windows (msvc)
      os: windows
      rust: nightly-x86_64-pc-windows-msvc
      before_script:
        - rm gen/build/src/gen gen/build/src/syntax gen/cmd/src/gen gen/cmd/src/syntax gen/src/include macro/src/syntax
        - cp -r include gen/src; cp -r gen/src gen/build/src/gen; cp -r gen/src gen/cmd/src/gen; cp -r syntax gen/build/src; cp -r syntax gen/cmd/src; cp -r syntax macro/src

    - name: Buck
      rust: nightly
      before_install:
        - sudo apt-get install -y openjdk-8-jdk
        - export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
        - wget -O buck.deb https://github.com/facebook/buck/releases/download/v2019.10.17.01/buck.2019.10.17.01_all.deb
        - sudo dpkg -i buck.deb
      before_script:
        - cp third-party/Cargo.lock .
        - cargo vendor --versioned-dirs --locked third-party/vendor
      script:
        - buck build :cxx#check --verbose=0
        - buck run demo-rs --verbose=0
        - buck test ... --verbose=0

    - name: Bazel
      rust: nightly
      before_install:
        - wget -O install.sh https://github.com/bazelbuild/bazel/releases/download/2.1.1/bazel-2.1.1-installer-linux-x86_64.sh
        - chmod +x install.sh
        - ./install.sh --user
      before_script:
        - cp third-party/Cargo.lock .
        - cargo vendor --versioned-dirs --locked third-party/vendor
      script:
        - bazel run demo-rs --verbose_failures --noshow_progress
        - bazel test ... --verbose_failures --noshow_progress

    - name: Minimum rustc
      rust: 1.42.0
      script:
        - cargo run --manifest-path demo-rs/Cargo.toml
