[package]
name = "demo"
version = "0.0.0"
authors = ["David Tolnay <dtolnay@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
cxx = { path = ".." }

[build-dependencies]
cxx-build = { path = "../gen/build" }
